/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

.nav {
  background-color: #2386ea;
  color: #000000;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px;
}

.nav > li{
  display: inline-block;
  padding-right: 50px;
}

.nav > li > a {
  text-decoration: none;
  color: #000000;
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
